<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="icon.png" type="image/x-icon">
  <title>Tomikjetu</title>
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <div class="content">
    <div class="row">
      <div class="col left">
        <h1 class="name">Tomáš Kordoš</h1>
        <p class="info">
          17 Years old
          <span class="highlight">Developer</span>
          and
          <span class="highlight">Designer</span>
          based in Slovakia.
        </p>
        <br>
        <p class="info">
          Interested in working with me? Feel free to message me.
        </p>
        <p>Potfolio coming soon...</p>
        <div class="socials">
          <a href="https://github.com/tomikjetu" target="_blank">
            <img class="social" src="icons/github.svg">
          </a>
          <a href="https://instagram.com/tomikjetu" target="_blank">
            <img class="social" src="icons/instagram.svg">
          </a>
          <a href="https://snapchat.com/add/tomikjetu" target="_blank">
            <img class="social" src="icons/snap-chat.svg">
          </a>
        </div>
      </div>
      <div class="col right">
        <div class="logo-wrapper">
          <img class="logo" src="icon-2.png">
        </div>
      </div>
    </div>
  </div>
</body>

</html>